<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer_id %>
</p>

<p>
  <strong>Oname:</strong>
  <%= @order.oname %>
</p>

<p>
  <strong>Oqty:</strong>
  <%= @order.oqty %>
</p>

<p>
  <strong>Oprice:</strong>
  <%= @order.oprice %>
</p>

<%= link_to @order.customer.name, @order.customer %> | <%= @order.customer.email %> | <%= @order.customer.cell %>
<br/>
<br/>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
